<form name="OpcaoForm" gumga-form novalidate>
		

	<div gumga-form-class="enquete">
		<label gumga-translate-tag="opcao.enquete">enquete</label>
	    <gumga-many-to-one
	            name="enquete"
	            value="opcao.data.enquete"
	            search-method="enquete.methods.asyncSearch('titulo', param)"
	            field="titulo"
	            authorize-add="true"
	            post-method="enquete.methods.asyncPost(value, 'titulo')">
	    </gumga-many-to-one>
	</div>

		
	<div gumga-form-class="texto">
		<label gumga-translate-tag="opcao.texto">texto</label>
		<input gumga-error type="text" name="texto" ng-model="opcao.data.texto"  class="form-control" />
	</div>		
	<div gumga-form-class="urlImagem">
		<label gumga-translate-tag="opcao.urlImagem">urlImagem</label>
		<input gumga-error type="text" name="urlImagem" ng-model="opcao.data.urlImagem"  class="form-control" />
	</div>    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
    <gumga-form-buttons
            back="opcao.list"
            submit="opcao.methods.put(opcao.data)"
            position="right"
            valid="OpcaoForm.$valid"
            confirm-dirty="true"
            continue="continue">
    </gumga-form-buttons>    
</form>