	<form name="Modal">
	    <div class="modal-header">
	        <h3 class="modal-title" gumga-translate-tag="opcao.title"></h3>
	    </div>
	    <div class="modal-body" style="overflow: auto">
		

	<div gumga-form-class="texto">
		<label gumga-translate-tag="enquete.texto">texto</label>
		<input gumga-error type="text" name="texto" ng-model="enquete.data.texto"  class="form-control" />
	</div>		
	<div gumga-form-class="urlImagem">
		<label gumga-translate-tag="enquete.urlImagem">urlImagem</label>
		<input gumga-error type="text" name="urlImagem" ng-model="enquete.data.urlImagem"  class="form-control" />
	</div>	    </div>
	    <div class="clearfix"></div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="ok(enquete.data)" ng-disabled="Modal.$invalid">OK</button>
	        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	    </div>
	</form>